body{
    background-color:#ffff00;
}

#showSketch{
    float:right;
}

h1{
    background-color:teal;
    color: rgb(255,255,255);
}

p{
    padding-top: 10px;
    font-size: 25px;
}

@keyframes example{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 20px;
    border: 5px solid white;
    margin-top: 50px;

}